# Supabase
VITE_SUPABASE_URL=https://dkmhychsqxzbaccgcmhn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BPbahxaSpjlcjzDQBoPYuQ__-gstsRD
# Supabase
VITE_SUPABASE_URL=https://dkmhychsqxzbaccgcmhn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BPbahxaSpjlcjzDQBoPYuQ__-gstsRD